name: Generate data

on:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      workpath: ./

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      working-directory: ${{ env.workpath }}
    
    - name: Checkout
      uses: actions/checkout@v2

    - name: Generate data
      run: python generate.py
      working-directory: ${{ env.workpath }}

    - name: Push generated data
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        branch: main
        repository: .
        commit_options: '--allow-empty'
        commit_message: |
          update generated data
          Triggered by ${{ github.sha }}
